<div class="col-md-4 mb-5">
    <div class="movie-col">
        <div class="image">
            <img src="https://image.tmdb.org/t/p/w500/{{@movie.poster_path}}" alt="{{@movie.title}}">
        </div>
        <div class="content p-3">
            <h2 class="title">
                {{@movie.title}}
            </h2>
            <p class="small text-info">{{@movie.release_date}} | <span class="text-muted">* {{@movie.vote_average}}
                </span>
            </p>
            <p>
                {{@movie.overview}}
            </p>
            <div class="text-center">
                <LinkTo @route="movie" @model="{{@movie.id}}" class="btn btn-primary">
                    View Details
                </LinkTo>
            </div>

        </div>
    </div>
</div>